#main {
	position: relative;
	top: 10vh;
}

.number__div {
	border: solid;
	border-radius: 10px;
}

.smoothly-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.smoothly-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s linear 300ms, opacity 6s;
}