#main {
	position: relative;
	top: 10vh;
}

.divNumber {
	border: solid;
	border-radius: 10px;
}

#divNumber2 {
	min-height: 4rem;
}

/*#response {
	visibility: hidden;
	opacity: 0;
}*/

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s linear 300ms, opacity 6s;
}